html, body {
margin: 0;
padding: 0;
height: 100%; }
ul,li{margin: 0;padding: 0;list-style: none;}
.circleChart_text{font-size: 20px;font-family: arial;color: #29ccb6;}
.pop-box{display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0,0,0,.5);z-index: 1024;
}
.pop-box .cont{position: absolute;top: 50%;left: 50%;width: 600px;
    padding: 50px 0 25px;
    background: #fff;border-radius: 10px;overflow: hidden;border: 1px solid #ccc;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pop-box .cont .tit{text-align: center;margin-bottom: 25px;}
.pop-box .cont .con{padding-top: 20px;}
.pop-box .p1{text-align: center;color: #42be51;padding-top: 10px;}
#pop-con2{display: none;}
.pop-box .list{padding-left: 195px;margin: 25px 0;}
.pop-box .list li{overflow: hidden;line-height: 32px;padding-left: 22px;
    background: url(../../../images/admin/i-cuo.png) no-repeat left center;
}
.pop-box .list .more{text-decoration: none;color: rgba(0,0,0,.2);}
.pop-box .list .more:hover{color: #42be51;}
.pop-box .list span{width: 190px;display: inline-block;color: #000000;}
.pop-box .list li.ok{background-image: url(../../../images/admin/i-dui.png);}
.pop-box .list li.ok span{color: #42be51;}
.pop-box .list li.ok .more{display: none;}
.pop-box .bot{text-align: center;}
.pop-box .bot p{font-size: 16px;color: #42be51;margin: 0 0 12px;}
.js-close{width: 75px;height: 33px;display: block;margin: 0 auto;
    line-height: 33px;font-size: 14px;color: #fff;text-decoration: none;
    background-color: #42be51;border-radius: 10px;text-align: center;
}
.modal .modal-content .check-box {text-align: center;}
.modal .modal-content .check-box .check-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal .modal-content .check-box .check-list li {
    padding: 0 50px;
    font-size: 14px;
    line-height: 32px;
    color: #f8f8f8;
}
.modal .modal-content .check-box .check-list li .check-icon {
    width: 22px;display: none !important;
    height: 22px;line-height: 22px;
    background: url("../../../images/admin/unchecked.png") no-repeat center;
    color: #fff;display: inline-block;vertical-align: middle;
    margin-right: 23px;
    text-align: center;
}
.modal .modal-content .check-box .check-list li.checking{color: #ff8c00;}
.modal .modal-content .check-box .check-list li.checking .check-icon{
background: url("../../../images/admin/checking.png") no-repeat left center;}
.modal .modal-content .check-box .check-list li.checked {
color: #42be51; }
.modal .modal-content .check-box .check-list li.checked .check-icon {
background: url("../../../images/admin/checked.png") no-repeat left center; }
.modal .modal-content .check-box .check-list li .check-text {
    width: 170px;font-size: 16px;
    white-space: normal;
    overflow: hidden;display: inline-block;vertical-align: middle;
    word-break: break-all;
}
.modal .modal-content .check-box .check-bottom {padding-top: 12px;}
.modal .modal-content .check-box .check-bottom .check-btn {
    display: inline-block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #e5e5e5;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    border-radius: 5px;
    cursor: not-allowed;
}
.modal .modal-content .check-box .check-bottom .check-btn.active {
    background: #6089fb;
    color: #fff;
    cursor: pointer; 
}

