blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
q:after,q:before{content:''}
abbr,acronym{border:0}

.text-blue{color: #00aaff;}
.text-danger{color:#F00}
.text-normal{color:#5cb85c}
.text-primary{ color: #00aaff;}
.text-muted {color: #999;}
.text-operate,
.text-stress,
.text-orange {color: #ff8800;}

/*body,button,input,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch;outline:0}*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.col-c,.col-l,.col_c,.col_l,.pull-left{float:left}
.col-r,.col_r,.pull-right,.ul-txt li span,.ul_txt li span,dt span{float:right}
.c{clear:both}
.n,em{font-weight:400;font-style:normal}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.tdu{text-decoration:underline}
.tdn,.tdn:hover,a.tdl:hover{text-decoration:none}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vn{vertical-align:-2px}
.pr,.rel{position:relative}
.abs,.pa{position:absolute}
.dn{display:none}
.db{display:block}
.dib{-moz-inline-stack:inline-block;display:inline-block}
.di{display:inline}
.ovh{overflow:hidden}
.ovs{overflow:scroll}
.vh{visibility:hidden}
.vv{visibility:visible}
.fix{*zoom:1}
.fix:after,.fix:before{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden}
.z{_zoom:1}
.h1{height:1px}
.h5{height:5px}
.h,.h10{height:10px}
.h15{height:15px}
.h20{height:20px}
.h,.h1,.h10,.h15,.h20,.h5{font-size:0;line-height:0;overflow:hidden;clear:both}
a{text-decoration:none}
a:hover{color:#f60}
body{color:#3d4c63;background:#edf0f5;font:14px/1.5 "PingFang SC","Microsoft Yahei",sans-serif;outline:0;min-width:1366px}
a{color:#3d4c63}
a:hover{color:#3c6}
img{max-width:100%;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
/*input,select,textarea{font-size:12px;color:#444;font-family:"Microsoft Yahei",sans-serif;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
button,input[type=button],input[type=reset],input[type=submit],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer}
::-webkit-input-placeholder{color:#4d4d4d}
::-moz-placeholder{color:#4d4d4d}
::-ms-input-placeholder{color:#4d4d4d}
input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}*/
input.false:focus{border:2px solid #ff1531;background:#fff}
input::-webkit-input-placeholder{color: #ccc}
.ani{transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;outline:0}
.unselect{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}
::-webkit-scrollbar{width:4px}
::-webkit-scrollbar-track{background:#3a3f51}
::-webkit-scrollbar-thumb{background:#1d8e7f}
::-webkit-scrollbar-thumb:window-inactive{background:#1d8e7f}

.wp{width:100%;max-width:1280px;margin:0 auto}
.header{height:66px;line-height:66px;padding-left:199px;background-color:#29ccb6;overflow:hidden}
.logo{position:absolute;left:0;top:0;width:199px;height:66px;line-height:66px;text-align:center;font-size:0;background-color:rgba(0,0,0,.3)}
.logo img{display:inline-block;vertical-align:middle;max-width:100%;max-height:100%}
.hd_btn{padding-right:29px;font-size:0;float:right}
.hd_btn a{display:inline-block;vertical-align:middle}
.hd_btn .notice{position:relative;width:30px;height:30px;background:url(../../../images/admin/icon_d1.png) center center no-repeat;-webkit-background-size:cover;background-size:cover}
.hd_btn .notice em{position:absolute;left:50%;bottom:50%;font-size:12px;color:#fff;line-height:19px;min-width:19px;padding:0 4px;text-align:center;background-color:#e64a19;border-radius:9px}
.hd_btn .exit{font-size:16px;color:#fff;margin-left:20px;padding-left:26px;background:url(../../../images/admin/icon_d2.png) left center no-repeat;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.hd_btn .exit:hover{opacity:.8;filter:alpha(opacity=80);filter:alpha(Opacity=80);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'}
.hd_btn .update{font-size:14px;color:#fff;text-align:center;width:88px;height:28px;line-height:28px;border-radius:3px;background-color:rgba(0,0,0,.5);-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.hd_btn .update:hover{opacity:.8;filter:alpha(opacity=80);filter:alpha(Opacity=80);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'}
.header h2{padding-left:20px;font-size:20px;color:#fff;font-weight:400;overflow:hidden}
.header h2 .return{display:inline-block;vertical-align:middle;width:24px;height:24px;margin:-2px 0 0 12px;background:url(../../../images/admin/icon_d3.png) center center no-repeat;-webkit-background-size:cover;background-size:cover}
.box_con_d1{overflow:hidden}
.box_con_d1>.col-l{width:199px;height:calc(100vh - 66px);background-color:#3a3f51;overflow:hidden}
.box_con_d1>.col-r{float:none;height:calc(100vh - 66px);margin-left:-199px;overflow-y:auto}
.m_slide_d1{height:100%;padding-bottom:54px;position:relative;overflow-y:auto}
.m_slide_d1 .content{height:100%;overflow-y:auto}
.m_slide_d1 .item{padding:14px 0 11px;border-top:2px solid #2e3344}
.m_slide_d1 .item:first-child{border-top:none}
.m_slide_d1 .item h3{font-size:12px;color:#b4b6bd;line-height:1.4;font-weight:400;padding:0 15px;margin-bottom:13px}
.m_slide_d1 .item a{display:block;font-size:14px;color:#fff;line-height:40px;padding:0 40px 0 20px;position:relative;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.m_slide_d1 .item a i{display:inline-block;vertical-align:middle;width:20px;height:20px;margin:-2px 12px 0 0;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover}
.m_slide_d1 .item a em{position:absolute;right:19px;top:50%;font-size:12px;color:#fff;text-transform:uppercase;font-family:Arial;width:32px;height:16px;line-height:16px;text-align:center;margin-top:-8px;background-color:#27c24c;border-radius:20px}
.m_slide_d1 .item a.on{color:#29ccb6!important;}
.list_lk_d1 li.dlOn dt{background:url(../../../images/admin/icon_d11_1.png) 88% center no-repeat}
.list_lk_d1 li dd{display:none}
.list_lk_d1 li dd a{color:#b4b6bd!important}
.list_lk_d1 li.show{background-color:#2e3344}
.list_lk_d1 li.show dt{background-image:url(../../../images/admin/icon_d12_1.png)}
.m_slide_d1 .pro{margin:0 15px;padding:20px 0 40px;overflow:hidden}
.m_slide_d1 .pro .hd{line-height:18px;margin-bottom:10px;overflow:hidden}
.m_slide_d1 .pro .hd .num{float:right;font-size:12px;color:#b4b6bd}
.m_slide_d1 .pro .hd .name{font-size:14px;color:#b4b6bd;overflow:hidden}
.m_slide_d1 .pro .line{height:2px;background-color:#000;position:relative;overflow:hidden}
.m_slide_d1 .pro .line em{position:absolute;left:0;top:0;bottom:0;background-color:#2bbe22}
.m_slide_d1 .edition{position:absolute;left:0;bottom:16px;right:0;font-size:12px;color:rgba(255,255,255,.2);font-family:Arial;text-align:center}
.m_slide_d1 .item .add{color:#b4b6bd}
.m_slide_d1 .help{position:absolute;left:50%;bottom:20px;width:96px;height:34px;line-height:34px;margin-left:-48px;font-size:12px;color:#fff;text-align:center;background-color:#29ccb6;border-radius:3px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.m_slide_d1 .help i{display:inline-block;vertical-align:middle;width:20px;height:20px;margin:-2px 3px 0 0;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover}
.m_slide_d1 .help:hover{opacity:.8;filter:alpha(opacity=80);filter:alpha(Opacity=80);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'}
.m_user{border:1px solid #dee5e7;margin:20px;background-color:#fff;position:relative;overflow:hidden}
.m_user .st1{position:absolute;right:14px;top:16px;font-size:12px;color:#ccc;text-align:center;padding:0 2px;min-width:30px;height:30px;line-height:30px;}
.m_user .hd{padding:47px 0 30px;text-align:center;border-bottom:1px solid #dee5e7}
.m_user .hd h3{font-size:20px;color:#666;font-weight:400;line-height:1.4;margin-bottom:7px}
.m_user .hd .site{display:block;font-size:14px;color:#999;line-height:1.4;margin-bottom:20px}
.m_user .hd .btn{font-size:0;overflow:hidden}
.m_user .hd .btn a{display:inline-block;vertical-align:middle;margin:0 2px;padding:0 12px;font-size:14px;color:#666;line-height:32px;text-align:center;border:1px solid #ccc;border-radius:3px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.m_user .hd .btn a i{display:inline-block;vertical-align:middle;width:20px;height:20px;margin:-2px 4px 0 0;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover}
.m_user .hd .btn .visit i{background-image:url(../../../images/admin/icon_d1_1.png)}
.m_user .hd .btn .check i{background-image:url(../../../images/admin/icon_d2_1.png)}
.m_user .hd .btn .vip{color:#fff;background-color:#27c24c;border-color:#29ccb6}
.m_user .hd .btn .vip i{background-image:url(../../../images/admin/icon_d3_1.png)}
.m_user .hd .btn a:hover{opacity:.8;filter:alpha(opacity=80);filter:alpha(Opacity=80);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'}
.list_info{margin:0 -1px -1px 0;overflow:hidden}
.list_info li{float:left;width:33.33%}
.list_info a{display:block;padding:10px 0 14px;border:1px solid #dee5e7;margin:-1px 0 0 -1px}
.list_info .pic{width:34px;height:34px;margin:0 auto 2px}
.list_info .pic img{display:block;width:100%;height:100%}
.list_info h4{font-size:14px;color:#999;text-align:center;line-height:1.4;font-weight:400;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.m_statistics{border:1px solid #dee5e7;margin:0 20px 20px;background-color:#fff;overflow:hidden}
.m_statistics .tit{font-size:18px;color:#333;font-weight:400;padding:17px 20px;line-height:1.4;border-bottom:1px solid #dee5e7}
.m_statistics .content{margin:20px;border:1px solid #dee5e7;overflow:hidden}
.m_statistics .chart1{width:100%;height:302px}
.fd_copy{font-size:12px;color:#ccc;line-height:1.4;margin:0 20px;padding:16px 0;text-align:center}
body,html{margin:0;padding:0;height:100%}
li,ul{margin:0;padding:0;list-style:none}
.circleChart_text{font-size:20px;font-family:arial;color:#29ccb6}
.pop-box{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);z-index:1024}
.pop-box .cont{position:absolute;top:50%;left:50%;width:600px;padding:50px 0 25px;background:#fff;border-radius:10px;overflow:hidden;border:1px solid #ccc;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pop-box .cont .tit{text-align:center;margin-bottom:25px;height: 43px;line-height: 43px;
	background: url(../../../images/admin/p-t1.png) no-repeat center center;
}
.pop-box .cont .tit span{font-size: 12px;color: #000;display: block;
	margin: 0 auto;position: relative;left: 30px;
}
.pop-box .cont .con{padding-top:20px}
.pop-box .p1{text-align:center;color:#42be51;padding-top:10px}
#pop-con2{display:none}
.pop-box .list{padding-left:195px;margin:25px 0}
.pop-box .list li{overflow:hidden;line-height:32px;padding-left:22px;background:url(../../../images/admin/i-cuo.png) no-repeat left center}
.pop-box .list .more{text-decoration:none;color:rgba(0,0,0,.2)}
.pop-box .list .more:hover{color:#42be51}
.pop-box .list span{width:190px;display:inline-block;color:#000}
.pop-box .list li.ok{background-image:url(../../../images/admin/i-dui.png)}
.pop-box .list li.ok span{color:#42be51}
.pop-box .list li.ok .more{display:none}
.pop-box .bot{text-align:center}
.pop-box .bot p{font-size:16px;color:#42be51;margin:0 0 12px}
.js-close{width:75px;height:33px;display:block;margin:0 auto;line-height:33px;font-size:14px;color:#fff;text-decoration:none;background-color:#42be51;border-radius:10px;text-align:center}
.modal .modal-content .check-box{text-align:center}
.modal .modal-content .check-box .check-list{list-style:none;margin:0;padding:0}
.modal .modal-content .check-box .check-list li{padding:0 50px;font-size:14px;line-height:32px;color:#f8f8f8}
.modal .modal-content .check-box .check-list li .check-icon{width:22px;display:none!important;height:22px;line-height:22px;background:url(../../../images/admin/unchecked.png) no-repeat center;color:#fff;display:inline-block;vertical-align:middle;margin-right:23px;text-align:center}
.modal .modal-content .check-box .check-list li.checking{color:#ff8c00}
.modal .modal-content .check-box .check-list li.checking .check-icon{background:url(../../../images/admin/checking.png) no-repeat left center}
.modal .modal-content .check-box .check-list li.checked{color:#42be51}
.modal .modal-content .check-box .check-list li.checked .check-icon{background:url(../../../images/admin/checked.png) no-repeat left center}
.modal .modal-content .check-box .check-list li .check-text{width:170px;font-size:16px;white-space:normal;overflow:hidden;display:inline-block;vertical-align:middle;word-break:break-all}
.modal .modal-content .check-box .check-bottom{padding-top:12px}
.modal .modal-content .check-box .check-bottom .check-btn{display:inline-block;width:100%;height:36px;line-height:36px;background:#e5e5e5;font-size:16px;color:#aaa;text-align:center;border-radius:5px;cursor:not-allowed}
.modal .modal-content .check-box .check-bottom .check-btn.active{background:#6089fb;color:#fff;cursor:pointer}

/*提交表单*/
.page-content-wrap{border:1px solid #dee5e7;margin:20px;background-color:#fff;position:relative;overflow:hidden}
.page-content-wrap .tit{padding:17px 20px;border-bottom:1px solid #dee5e7;overflow: hidden;}
.page-content-wrap .tit h3{font-size:18px;color:#333;font-weight:400; float: left;line-height:1.4;}
.page-content-wrap .btn-last-page{background-image: url(../../../images/admin/btn_icon_return.png);background-repeat: no-repeat;background-position: 44px center;height: 20px;line-height: 19px;padding: 0 29px 0 10px;font-size: 12px;margin-left: 20px;vertical-align: text-bottom;border: 1px solid #5c91e6;color: #5c91e6;background-color: #fff;display: inline-block;border-radius: 2px; float: left}
.page-content-wrap .btn-last-page:hover{background-color: #aee9ff;}

.page-content-wrap .content{margin:20px;overflow:hidden}

.maintable {width: 100%;border-collapse: collapse;border: solid;border-color: #29ccb6 #D8DDE5 #D8DDE5;border-width: 2px 1px 1px;}
.maintable th {background: #F3F7FF;width: 210px;text-align: left;color: #0D58A5;font-weight: normal;}
.maintable th p{margin: 0;color: #909DC6; font-size: 12px;}
.maintable th, .maintable td {border: 1px solid #D8DDE5;padding: 10px;}
.maintable tr.btn_tab th{background: #ffffff;}
.maintable tr.btn_tab th, .maintable tr.btn_tab td {border:1px solid #fff;}
.maintable td table td{border:1px solid #f1f1f1;}
.maintable td span{float: left; line-height: 26px; color: #999; font-size: 12px;}
.maintable td .inp{display: block;float: left; margin-right: 10px; width: 600px;padding-left: 10px;height: 38px;line-height: 38px;border: 1px solid #ccc;background-color: #fff;border-radius: 2px}
.maintable td .inps{ padding-left: 10px;height: 38px;line-height: 38px;border: 1px solid #ccc;background-color: #fff;border-radius: 2px}
.maintable td .inp_px{display: block;float: left; margin-right: 10px; width: 50px;padding-left: 10px;height: 38px;line-height: 38px;border: 1px solid #ccc;background-color: #fff;border-radius: 2px}
.maintable td .inpfile{display: block;float: left; margin-right: 10px; line-height: 38px; }
.maintable td select{height: 38px;line-height: 38px;border: 1px solid #e6e6e6;padding: 0 10px;float: left;margin-right: 10px; }
.maintable td textarea {min-height: 100px;height: auto;padding: 6px 10px;resize: vertical;display: block;width:600px;border: 1px solid #e6e6e6;font-family: inherit;font-size: inherit;}
.maintable td button.btn-normal{background:#1d8e7f;display: inline-block; height: 38px; line-height: 38px; padding: 0 18px; color: #fff; white-space: nowrap; text-align: center; font-size: 14px; border: none; border-radius: 2px; cursor: pointer; opacity: .9;}

.plus{ display: inline-block; width: 32px; height: 32px;  border-radius: 50%; background: #000; color: #fff; font-size: 20px; text-align: center;}
.reduce{display: inline-block; width: 32px; height: 32px; border-radius: 50%; background: #666; color: #fff; font-size: 20px;text-align: center;}

@media (max-width: 1200px) {
	.maintable th {width: 200px;}
    .maintable td .inp{width: 100%;}
}


/*快速操作及检索*/
.elem_quote_search{padding:10px 20px 10px 15px;line-height: 22px;border-left: 5px solid #1d8f80;border-radius: 0 2px 2px 0;background-color: #fff;margin:20px;overflow: hidden;}
.elem_quote_search div.inline{margin: 5px 5px 5px 0;position: relative;display: inline-block;}
.elem_quote_search div.inline .input-inline {display: inline-block;vertical-align: middle;position: relative;}
.elem_quote_search div.inline .input-inline .search_input{display: block;width: 100%;padding-left: 10px;height: 38px; line-height: 38px;border: 1px solid #e6e6e6;background-color: #fff;border-radius: 2px;}
.elem_quote_search div.inline .default_btn{display: inline-block;height: 38px;line-height: 38px;padding: 0 18px;background-color: #009688;color: #fff;white-space: nowrap;text-align: center;font-size: 14px;border: none;border-radius: 2px;cursor: pointer;opacity: .9;filter: alpha(opacity=90);}
.elem_quote_search div.inline .btn_add{background-color:#0dc316;}
.elem_quote_search div.inline .btn-batchDel{background-color: #FF5722;}

/*列表样式*/
.form_table_list{margin:0 20px 20px 20px;background-color: #fff; padding: 20px;position: relative}
.form_table_list .title{display: block; background: #29ccb6; color: #fff; width: 300px;padding: 10px;border-radius:0px 20px 0px 0px; font-weight: bold; font-size: 16px; }
.form_table_list .table{width: 100%;background-color: #fff;margin-bottom: 20px;border-collapse: collapse;border: solid;border-color: #29ccb6 #D8DDE5 #D8DDE5;border-width: 2px 1px 1px;}
.form_table_list .table,.form_table_list .table th{text-align: center;}
.form_table_list .table th {background-color: #F3F7FF;word-break: break-all;min-height: 42px;line-height: 42px;font-size: 16px;}
.form_table_list .table td,.form_table_list .table th {padding: 9px 15px;border: 1px solid #e2e2e2;font-size: 14px;}
.form_table_list .table td img{max-width: 120px; max-height: 120px; width:expression(this.width > 120 ? "120px" : this.width);height:expression(this.height > 120 ? "120px" : this.height);}
.form_table_list .table td .bg_box{display: inline-block; padding: 2px 8px; border: 1px solid #ccc;text-shadow: 1px 1px 1px #000; color: #ccc}
.form_table_list .table .btn_mini{margin: 2px 5px;opacity: .8;filter: alpha(opacity=80);color: #fff;height: 32px;line-height: 32px;padding: 0 10px;font-size: 12px;display: inline-block;white-space: nowrap;text-align: center;border: none;border-radius: 2px;cursor: pointer;background-color:#1E9FFF;}
/*升级*/.form_table_list .table .btn_update{background: #1afa29 url(../../../images/admin/update.png)no-repeat 10px center; padding-left: 30px;}
/*编辑*/.form_table_list .table .btn_edit{background: #009688 url(../../../images/admin/edit.png)no-repeat 10px center; padding-left: 30px;}
/*删除*/.form_table_list .table .btn_del{background: #FF5722 url(../../../images/admin/del.png)no-repeat 10px center; padding-left: 30px;}
/*列表*/.form_table_list .table .btn_list{background: #00a7ee url(../../../images/admin/list.png)no-repeat 10px center; padding-left: 30px;}
/*分类*/.form_table_list .table .btn_sort{background: #5f52a1 url(../../../images/admin/sort.png)no-repeat 10px center; padding-left: 30px;}
/*关闭*/.form_table_list .table .btn_close{background: #1296db url(../../../images/admin/close.png)no-repeat 10px center; padding-left: 30px;}
/*启用*/.form_table_list .table .btn_enable{background: #b05a5b url(../../../images/admin/enable.png)no-repeat 10px center; padding-left: 30px;}
/*安装*/.form_table_list .table .btn_install{background: #957d03 url(../../../images/admin/install.png)no-repeat 10px center; padding-left: 30px;}
/*发布*/.form_table_list .table .btn_publish{background: #ff9c00 url(../../../images/admin/publish.png)no-repeat 10px center; padding-left: 30px;}
.form_table_list .table td.zone{background: url(../../../images/admin/zone_bg_ico.png) no-repeat 15px center; padding-left: 40px;}
.form_table_list .table td strong,.form_table_list .table td strong{color: #1d8f80}
.form_table_list .table tr.not_enable{background: #fceeea}
.form_table_list .table tr.not_installed td{background: #f4fbed}

/*页码*/
.pages{overflow:hidden}
.pages ul{float:right;overflow:hidden}
.pages ul li{float:left;margin-left:10px}
.pages ul a,.pages ul span{display:block;min-width:40px;padding:0 13px;text-align:center;font-size:16px;color:#333;line-height:35px;border:1px solid #ddd;border-radius:5px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.pages ul a:hover,.pages ul li.active a{color:#fff;border-color:#1d8f80;background-color:#1d8f80}
.pages .total{font-size:12px;color:#4d4d4d;line-height:37px;overflow:hidden}
.pages .total span{color:#1d8f80;margin:0 4px}

/*友情提示*/
.helptable {padding: 15px 15px 15px 50px;line-height: 24px;width: auto;background: #FDFFF5 url(../../../images/admin/help_info.gif) no-repeat 0 0;border: 1px solid #D5D8C7;margin-bottom: 20px;width: 100%}
.helptable td {padding:15px 3.5em;line-height: 1.5em;}
.helptable td li {padding-left: 14px;background-image: url(../../../images/admin/arrow.gif);background-repeat: no-repeat;background-position: 0px center; margin-bottom: 5px;}

/*列表切换*/
.tabs-container{margin-bottom: 20px;border-bottom: 1px solid #eee;}
.tabs-container .text-center {text-align: center;display: table;}
.tabs-container .text-center .btn-tab {float: left;width: 132px;height: 40px;border: 1px solid #eee;border-radius: 2px 2px 0 0;margin-bottom: -1px;margin-right: 10px;background-color: #fafafa;font-size: 14px;}
.tabs-container .text-center .btn-tab a {display: block;height: 100%;line-height: 39px;text-decoration: none;color: #4d4d4d;}
.tabs-container .text-center .btn-tab a:hover {background-color: #f3f3f3;text-decoration: none;color: inherit;}
.tabs-container .text-center .tab-current{border-top: 3px solid #1d8f80;border-bottom-color: #fff;line-height: 37px;}
.tabs-container .text-center .tab-current a,.tabs-container .text-center .tab-current a:hover {background-color: #fff;color: #1d8f80;}

/*站点统计*/
.container-statdata{border:1px solid #dee5e7;margin:0 20px 20px 20px;background-color:#fff;position:relative;overflow:hidden}
.container-statdata .tit{padding:17px 20px;border-bottom:1px solid #dee5e7;overflow: hidden;}
.container-statdata .tit h3{font-size:18px;color:#333;font-weight:400; float: left;line-height:1.4;}
.container-statdata .content{padding: 20px;}
.container-statdata table {width: 100%;margin: 0 auto;border: #D7E3F6 1px solid;border-width: 1px 0 0 1px;}
.container-statdata table th.date {color: #225DB6;}
.container-statdata table th {border: #D7E3F6 1px solid;border-width: 0 1px 1px 0;width: 169px;height: 40px;background: #F3F7FF;}
.container-statdata table th, .container-statdata table td {text-align: center;}
.container-statdata table .uv {color: #CC0707;}
.container-statdata table .pv {color: #319500;}
.container-statdata table th.proportion {width: 430px;color: #225DB6;}
.container-statdata table td {border-color: #E5ECF6 #D7E3F6;border-width: 0 1px 1px 0;border-style: solid;height: 32px;}
.percent-bar {position: relative;width:80%;height: 20px;margin: 0 6px 0 5px;float: left;display: inline;background: #E2E2E2;overflow: hidden;}
.percent-bar .orange {height: 20px;background: #FD8E47;}
